body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;

}

#orange {
  background-color: #ffc788;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}

.ul1 {
  margin-left: 27px;
  margin-top: 35px;
}

.ul2 {
  margin-left: 27px;
  margin-top: 35px;
}
